@tailwind base;
/* html {
  @apply h-full;
} */
body {
  @apply text-gray-700;
}
#menu .router-link-exact-active {
  @apply text-sky-600 bg-gray-100;
}
#submenu .router-link-exact-active {
  @apply hidden;
}
table {
  @apply border max-w-full;
}
table tr {
  @apply flex flex-col border-b border-gray-500 md:table-row;
}
table thead th {
  @apply align-top text-left p-2 border;
}
table tbody td {
  @apply align-top p-2 border bg-gray-50;
}
table tfoot td {
  @apply align-top p-2 border;
}
ul {
  @apply list-disc ml-6;
}
/* h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
a {
  @apply text-red-600;
} */
@tailwind components;
@tailwind utilities;
